#iconos_menu_backend {font-size: 3em; padding-top: 30px}


section{padding: 5% 0 5% 0%; background-image: url("../imagenes/gplaypattern_azul.png"); min-height: 100%}


.alert{margin-bottom: 0px}

body {margin-top: 50px}