html {position: relative; min-height: 100%;}
body{ margin:0; font-family: 'klavika_lightplain', sans-serif; font-size: 16px;}/*margin-bottom: 300px !important;*/


/* C O N T A I N E R*/
        /*.containermargin: 0 auto;*/


/*  P - H 1  -  H 2  -  H 3 */
        h1, h2, h3, h4{font-weight: normal}/*saca el estilo por defecto*/
            h1{font-family: 'klavika_boldbold'; font-size: 5em; margin: 0}
            h2{font-family: 'klavika_lightplain'; font-size: 2em; margin: 0;}
            h3 {margin: 0px}
            h4 {}
            h5 {color: #fff}
        p{color: #fff;}

        pre {font-family: 'klavika_lightplain'}

/* H E A D E R */
        header{background: #FFF; height: 90px; border-bottom:2px solid #f1f1f1}
            header h2{ font-size: 1.6em; text-align: right; float: right; padding-top: 30px; display: block; color: #F5802D}
        #logo_BA_header {padding: 0px}
        #logo_min_eco_header {padding: 0px}


/*  N A V - M E N U  U S U A R I O  */
        /*.navbar-toggle {border:0px !important;}
             .navbar-toggle:hover .navbar-inverse.navbar-toggle:hover .navbar-inverse .navbar-toggle:focus {border:0px !important}
             .icon-bar{display:block;width:22px;height:2px;border-radius:1px}

        .button.navbar-toggle.collapsed {width: 50px !important}*/

        /* MENU FRONTEND ANTES - volver a activar desde aca
            .navbar{margin: 0px !important; border: 0px !important; padding: 0px !important; background-color: #0B5EAA;  height: 100px; border-radius: 0px}
                .navbar-nav>li>a{height: 100px; color:#428bca !important; padding-top: 38px; text-align: center; margin: 0px !important}
                .navbar-nav>li>a:hover{background: #111 !important; opacity: 0.3}

            ul, li{margin: 0px; padding: 0px; list-style: none}
         MENU FORNTEND ANTES - hasta aca*/

        /*.nav_glyphicons .glyphicon{font-size: 1.2em; padding: 6px 10px 0 0; color: #231f20}
                    .nav_glypicons .glyphicon:hover{color:#F5802D}
                    .nav_glypicons .glyphicon:active{color:#555}*/


/* CSS DE NUEVO NAV  sacado de http://www.flashuser.net/responsive-flat-menu-tutorial*/
        #logo_rafam_menu {padding: 17px 0 17px 15px}
        #login_menu_frontend {color: #111 !important; opacity: 0.5}
            #login_menu_frontend:hover {color: #111 !important; background: #fff !important}

        .menu{display:block; height: 100px; margin: 0; padding: 0px}/*float: right*/
        .menu li{display: inline-block; position: relative; z-index:100;}
        .menu li a {text-decoration:none; padding: 37px 11px 63px 11px; display:block; color:#ffffff; height: 65px;
                -webkit-transition: all 0.2s ease-in-out 0s;
                   -moz-transition: all 0.2s ease-in-out 0s;
                   -o-transition: all 0.2s ease-in-out 0s;
                   -ms-transition: all 0.2s ease-in-out 0s;
                   transition: all 0.2s ease-in-out 0s;}
        .menu li a:hover, .menu li:hover > a{color:#ffffff; background: #0D477B;  height: 65px;}


        /* hide the second level menu */
        .menu ul {display: none; margin: 0; padding: 0; width: 150px; position: absolute; top: 100px; left: 0px; background: #ffffff;}
         
        /* display second level menu on hover */
        .menu li:hover > ul{ display: block;}
        .menu ul li {display:block; float: none; background:none; margin:0; padding:0; }
        .menu ul li a {font-size:0.8em; font-weight:normal; display:block; color:#0B5EAA; border-left:3px solid #ffffff; background:#ffffff; height: 30px; padding: 10px 11px 0 11px;
            -webkit-box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);
            -moz-box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);
            box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);}
        .menu ul li a:hover, .menu ul li:hover > a{ background:#fff; border-left:3px solid #0B5EAA; color:#555; height: 30px;}

        /* change level 3 menu positions */
        .menu ul ul {left: 149px; top: 0px;}

        /* MENU para dispositivos mov*/
        .mobile-menu{display:none; width:100%; padding:11px; background:#0B5EAA; color:#ffffff; text-transform:uppercase; font-weight:600; text-decoration: none}
        .mobile-menu:hover{background:#0B5EAA; color:#ffffff; text-decoration:none;}


        @media (max-width: 1000px) {
                     
                    .menu{display:none;}
                     
                    .mobile-menu{display:block; text-align: right}
                     
                    nav{margin:0; background:none;}
                     
                    .menu li{display:block; margin:0;}
                    .menu li a {background:#0B5EAA; color:#ffffff; border-top:1px solid #e0e0e0; border-left:3px solid #ffffff; height: 20px; padding: 10px 11px 10px 11px}
                    .menu li a:hover, .menu li:hover > a{ background:#0B5EAA; color:#ffffff; border-left:3px solid #0B5EAA; height: 20px; padding: 10px 11px 10px 11px }
                     
                    /*level 2 and 3 - make same width as all items*/
                    .menu ul {display:block; position:relative; top:0; left:0; width:100%;}
                    .menu ul li a{height: 20px; padding: 10px 0 5px 10px}
                    .menu ul li a:hover {height: 20px; padding: 10px 0 5px 10px}
                    .menu ul ul {left:0;}
                    }/*end media queries*/
/* CIERRA NUEVO NAV*/


/*  S E C T I O N  */
        section{padding: 5% 0 5% 0%; min-height: 500px;
            background: background: #edf1f4; /* Old browsers */
            background: -moz-linear-gradient(-45deg,  #edf1f4 0%, #d8dfe3 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#edf1f4), color-stop(100%,#d8dfe3)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(-45deg,  #edf1f4 0%,#d8dfe3 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(-45deg,  #edf1f4 0%,#d8dfe3 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(-45deg,  #edf1f4 0%,#d8dfe3 100%); /* IE10+ */
            background: linear-gradient(135deg,  #edf1f4 0%,#d8dfe3 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf1f4', endColorstr='#d8dfe3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }

        input { outline: 0; border: 0; background-color: #F1F1F1; color: #0B5EAA; padding-left: 5px; width: 100%} 
        textarea { outline: 0; border: 0; background-color: #F1F1F1; color: #0B5EAA; width: 100%; height: 80px} 
        label {width: 100%}
        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left: 0px; padding-right:0px; }
        .imagen_ajustable {width: 100%}


/* H O J A  B L A N C A*/
        .hoja_blanca {background: #fff; padding: 5% 5% 5% 5%;
            -webkit-box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);
            -moz-box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);
            box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);
            }

        .HB_encabezado {width: 100%; height: 80px; border-bottom: 1px solid; padding: 40px 0 0 0}
        .HB_circulo {float: right; font-size: 3em; position: relative; top: -25px}
        .HB_subtitulo {width: 100%; height: 100px; border-bottom: 1px solid #D7DEE2; padding: 60px 0 0 0}

        .HB_contenido {margin-top: 50px;/* background-color: #F1F1F1*/}

        pre {border: 0px; background-color: #fff !important}


        a:hover {color: #fff;}


/* S E C C I O N E S*/

        /* INDEX */
            .contenedor_vertical {padding: 0px}
            .contenedor_unitario{width: 98% ; margin: 2px}
            .modulo_index {width: 100%}

            .noticia_index { width: 100%; position: absolute; background-color: #0B5EAA; color: #fff;
                 bottom: 20px; z-index: 10; padding-top: 5px; padding-bottom: 5px; color: #fff; text-align: left; 
                 padding: 0 0 0 10px; margin: 0 5% 0 5%}

            .noticia_index_contenido { width: 100%; position: absolute; background-color: #fff; color: #555;
                 bottom: 5px; z-index: 10; padding-top: 5px; padding-bottom: 5px; color: #fff; text-align: left; 
                 padding: 0 0 0 10px; margin: 0 5% 0 5%}


        /*DOCUMENTACION*/
            #pdf_documentacion {padding: 3px;  z-index: 999}
                #pdf_documentacion:hover {padding: 3px;}

            .nombre_del_pdf {position: absolute; padding: 15px 0 0 10px; z-index: 1;}
            .center {text-align: center;}

            /*.IMGBG {background-image: url("../imagenes/documentacion_pdf_sinseleccionar.png"); background-color: #999; width: 100%}*/


        /* MESA DE AYUDA*/
            .form_mesa_de_ayuda {padding: 0 0 0 10px }

        /* LOGIN*/
            #form_login {padding: 10px; 
                        -webkit-box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);
                        -moz-box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);
                        box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);}
            .txt_login {color: #fff; font-size: 0.8em; font-family: 'klavika_lightplain'; }
            #ingresar {background-color: #0B5EAA; border: 0px; color: #fff ; font-size: 0.8em; float: right; margin-top: 5px}




/* F O O T E R  G R A L*/
        footer{padding: 20px}/*position: absolute; bottom: 0; width: 100%*/
       /*     footer img{ padding-top: 20px}*/
            footer p{font-size: 0.7em; margin: 0; line-height:1}
            .titulo_footer{font-size: 0.8em; text-align: center; margin: 0; padding-top: 30px}

        /* f o o t e r   r a f a m*/
                .footer_rafam p{font-size: 0.8em; text-align: left; margin: 0; color: #fff}
                .footer_rafam .glyphicon {padding-right: 5px}
            /*.texto_footer {padding: 0 0 0 20px}*/

        /* f o o t e r   p r o v*/
                 
            #logo_BA_footer {text-align: right;}



/* C O L O R E S */
        .azul_rafam{color: #0B5EAA}
        .naranja{color: #F5802D}
        .gris_BA{color: #67686B;}
        .negro_BA{color: #231f20;}

        /* colores de fondo*/
        .azul_rafam_BG{background-color: #0B5EAA}
        .naranja_BG{background-color: #F5802D}
        .gris_BA_BG{background-color: #67686B;}
        .negro_BA_BG{background-color: #231f20;}

        #azul_HOVER_rafam_BG{background-color: #0D477B}



/* O T R O S */
        .clear{clear:both;}

        .porta_captcha{ background-color: #555; margin: 0 0 10px 0}
        #captcha {margin-top: 8px}
        .close {float: right;}
        .centrado {text-align: center;}

        .panel-default {border: none; border-radius: 0px !important; background-color: #fff !important; margin-bottom: 0px}
        .panel-heading {border: none; border-bottom: 1px solid #67686b; border-radius: 0px !important; background-color: #fff !important}

        .glyphicon {display: inline-block}





/*    R  E  S  P  O N  S  I  V  E    */

/* Medium devices (desktops, 970px and up) */
@media (max-width: 992px) {
    header {height: 3em; padding:0 0 0 0;}
        header h2{ font-size: 1em !important; padding-top: 14px}
        header img {width: 7em; padding-top: 0px}

    .footer_prov img {width: 100%}
    .titulo_footer{padding-top: 15px}
}

/* Extra small devices (phones, less than 768px) */
    /*aca es donde colapsa el menu*/
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 480px and up) */
@media (max-width: 480px) {
    body{font-size: 14px}
    header {display: none; height: 0em}
    /*h3 {font-size: 0.8em !important}*/

    .titulo_footer{padding-top: 0px}
}










/* M E N U  D O C U M E N T A C I O N   J Q U E R Y    
    sacado de http://tympanus.net/codrops/2011/10/24/creative-css3-animation-menus/*/}

/*.ca-menu{
    padding: 0;
    margin: 20px auto;
    width: 500px;
}*/

    /* EXAMPLE 5 */

/*.ca-menu li:hover{
    background:#fff;
}
.ca-menu li:hover .ca-icon{
    color: #afa379;
    font-size: 90px;
    opacity: 0.1;
    animation: moveFromLeft 400ms ease;
}
.ca-menu li:hover .ca-main{
    color: #afa379;
    animation: moveFromRight 300ms ease;
}
.ca-menu li:hover .ca-sub{
    color: #000;
    animation: moveFromBottom 500ms ease;
}


@keyframes moveFromLeft{
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}*/



@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ca-menu{
    padding:0;
    margin:0px 2px 2px 2px;
}

.ca-menu li{
    height: auto;
    overflow: hidden;
    position: relative;
    float:center;
    background: #f9f9f9; /* Old browsers */
            background: -moz-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
            background: linear-gradient(left, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 */
            -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
            -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
            box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-right: 4px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-menu li:last-child{
    margin-right: 0px;
}
.ca-menu li a{
    text-decoration: none;/*    text-align: center !important;*/
/*    height: 30%;*/
/*    display: block;*/
/*    color: #333;*/
/*    position: relative;*/
}
.ca-icon{
/*    font-family: 'klavika_lightplain';*/
/*    font-size: 2em;*/
/*    color: #ddd;*/
    text-shadow: 1px 0px 1px rgba(255,255,255,0.8);
    line-height: 20px;
    padding-top: 15%;
  /*  position: absolute;*/
    width: 30%;
/*    height: 20%;*/
/*    left: 0px;*/
/*    top: 0px;*/
    text-align: center !important;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-content{
    text-align: center;
/*    position: absolute;*/
/*    left: 0px;*/
   /* width: 100%;*/
/*    height: 50%;
    top: 50%;*/
}
.ca-main{
    font-size: 0.8em;
    padding: 25px 0 25px 0;
    text-align: center !important;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-sub{
    text-align:center;
    font-size: 14px;
    color: #afa379;
    text-shadow: 1px 1px 1px #fff;
/*    line-height: 40px;*/
    opacity: 0.8;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-menu li:hover{
    background:#0B5EAA;
    text-align: center !important;
}
.ca-menu li:hover .ca-icon{
    color: #fff;
    font-size: 90px;
    opacity: 0.8;
    text-align: center !important;
    -webkit-animation: moveFromLeft 400ms ease;
    -moz-animation: moveFromLeft 400ms ease;
    -ms-animation: moveFromLeft 400ms ease;
}
.ca-menu li:hover .ca-main{
    color: #fff;
    text-align: center !important;
    -webkit-animation: moveFromRight 300ms ease;
    -moz-animation: moveFromRight 300ms ease;
    -ms-animation: moveFromRight 300ms ease;
}
.ca-menu li:hover .ca-sub{
    color: #000;
    text-align: center !important;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}
@-webkit-keyframes moveFromLeft{
    from {
        -webkit-transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0%);
    }
}
@-moz-keyframes moveFromLeft{
    from {
        -moz-transform: translateX(-100%);
    }
    to {
        -moz-transform: translateX(0%);
    }
}
@-ms-keyframes moveFromLeft{
    from {
        -ms-transform: translateX(-100%);
    }
    to {
        -ms-transform: translateX(0%);
    }
}

@-webkit-keyframes moveFromRight {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0%);
    }
}
@-moz-keyframes moveFromRight {
    from {
        -moz-transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(0%);
    }
}
@-ms-keyframes moveFromRight {
    from {
        -ms-transform: translateX(100%);
    }
    to {
        -ms-transform: translateX(0%);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}