html {position: relative; height: 100%;}
body{ margin:0; font-family: 'klavika_lightplain', sans-serif; font-size: 16px; height: 100%}/*margin-bottom: 300px !important;*/


/* C O N T A I N E R*/
        /*.containermargin: 0 auto;*/


/*  P - H 1  -  H 2  -  H 3 */
        h1, h2, h3, h4{font-weight: normal}/*saca el estilo por defecto*/
            h1{font-family: 'klavika_boldbold'; font-size: 5em; margin: 0}
            h2{font-family: 'klavika_lightplain'; font-size: 2em; margin: 0;}
            h3 {font-size: 1.5em; margin: 0px}
            h4 {font-size: 1em; display: block}
            h5 {font-size: 0.8em; margin: 0}
        p{color: #231f20;}

        /*pre {font-family: 'klavika_lightplain'; border: 0px; background-color: #fff !important}*/

        a {color: #fff}
        a:hover {color: #fff; text-decoration: none}
        a:active {color: #fff; text-decoration: none}
        a:focus {color: #fff; text-decoration: none}

        .centrado {text-align: center;}
        .derecha {text-align: right}
        /*.center {text-align: center;}
        .right {text-align: right;}*/


        #centrado_vertical {vertical-align: middle} /*funciona solo para tablas*/
        .borders_lat {border-left: 1px solid #999;}
        .td_gris {background-color: #f9f9f9}

/* BOTONES */
.btn-info {
  background-color: #333;
  border-color: #333;
}

.btn-info:hover{
  background-color: #222;
  border-color: #222;
}


/* H E A D E R */
        header{ height: 90px;} /*background-image: url("../imagenes/fondo_header.png"); background-repeat: no-repeat;*/


        /* border-bottom:2px solid #f1f1f1*/
        #logo_rafam_menu {padding: 10px 0 0px 0px}
        #loguito_rafam_menu {padding: 10px 0px 0px 10px; display: none}
        #logo_min_eco_header {padding: 0px 15px 0 50px; display: inline-block; text-align: right}
            #logo_min_eco_header:hover {text-decoration: none}
        #logo_BA_header {padding: 0px}

/* CSS DE NUEVO NAV  sacado de http://www.flashuser.net/responsive-flat-menu-tutorial*/
        #icono_home {padding: 16px 0 0 8px}
        /*#icono_home {position: relative; top:14px; left: 10px}*/
/*        #icono_home {margin-top: 17px; padding-left: 20%; padding-right: 10%}
*/
        #rafam_25px {padding: 10px 0 0 6px}

        #volver_administracion {position: relative; top: 10px; left: 10px;}

        .menu_azul {background-color: #0D477B; border-bottom: 2px solid #1859a0; height: 50px;
/*                -webkit-box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.5);
                box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.5);*/
        }/*border-top: 2px solid #1859a0;*/

        #login_menu_frontend {color: #0B5EAA !important;}
            #login_menu_frontend:hover {color: #111 !important; background: #0B5EAA !important}

        .navbar-fixed-top {height: 50px !important; }
        .menu{display:block; height: 50px; margin: 0; padding: 0px}/*float: right*/
        .menu li{display: inline-block; position: relative; z-index:100;}
        .menu li a {text-decoration:none; padding: 15px 11px 0px 11px; display:block; color:#ffffff; height: 50px;
                -webkit-transition: all 0.2s ease-in-out 0s;
                   -moz-transition: all 0.2s ease-in-out 0s;
                   -o-transition: all 0.2s ease-in-out 0s;
                   -ms-transition: all 0.2s ease-in-out 0s;
                   transition: all 0.2s ease-in-out 0s;}
        .menu li a:hover, .menu li:hover > a{color:#ffffff; background: #0B5EAA;  height: 50px;}

        #AADD_simco {color:#F5802D !important}


        /* hide the second level menu */
        .menu ul {display: none; margin: 0; padding: 0; width: 150px; position: absolute; top: 50px; left: 0px; background: #ffffff;}
         
        /* display second level menu on hover */
        .menu li:hover > ul{ display: block;}
        .menu ul li {display:block; float: none; background:none; margin:0; padding:0; }
        .menu ul li a {font-size:0.8em; font-weight:normal; display:block; color:#0B5EAA; border-left:3px solid #ffffff; background:#ffffff; height: 30px; padding: 10px 11px 0 11px;
            -webkit-box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);
            -moz-box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);
            box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);}
        .menu ul li a:hover, .menu ul li:hover > a{ background:#fff; border-left:3px solid #0B5EAA; color:#555; height: 30px;}

        /* change level 3 menu positions */
        .menu ul ul {left: 149px; top: 0px;}

        /* MENU para dispositivos mov*/
        .mobile-menu{font-size: 1.2em ;display:none; padding:14px 14px 0px; color:#ffffff}
        .mobile-menu:hover{color: #0D477B; text-decoration:none;}


        @media (max-width: 700px) {
                     
                    .menu{display:none;  position:relative; top:10px; left:0;}
                     
                    .mobile-menu{display:block; text-align: right}
                     
                    nav{margin:0; background:none;}
                     
                    .menu li{display:block; margin:0;}
                    .menu li a {background:#0B5EAA; color:#ffffff; border-top:1px solid #e0e0e0; border-left:3px solid #ffffff; height: 27px; padding: 4px 11px 10px 11px}
                    .menu li a:hover, .menu li:hover > a{ background:#0B5EAA; color:#ffffff; border-left:3px solid #0B5EAA; height: 27px; padding: 4px 11px 10px 11px }
                     
                    /*level 2 and 3 - make same width as all items*/
                    .menu ul {display:block; position:relative; top:0; left:0; width:250px;}
                    .menu ul li a{height: 27px; padding: 4px 0 5px 10px}
                    .menu ul li a:hover {height: 27px; padding: 4px 0 5px 10px}
                    .menu ul ul {left:0;}
                    }/*end media queries*/
/* CIERRA NUEVO NAV*/


/*  S E C T I O N  */
        section{padding: 5% 0 5% 0%; background-image: url("../imagenes/gplaypattern.png")}
            /*d e g r a d a d o */
            /*background: background: #edf1f4;*/     /* Old browsers */
            /*background: -moz-linear-gradient(-45deg,  #edf1f4 0%, #d8dfe3 100%);*/       /* FF3.6+ */
            /*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#edf1f4), color-stop(100%,#d8dfe3)); */    /* Chrome,Safari4+ */
            /*background: -webkit-linear-gradient(-45deg,  #edf1f4 0%,#d8dfe3 100%);*/      /* Chrome10+,Safari5.1+ */
            /*background: -o-linear-gradient(-45deg,  #edf1f4 0%,#d8dfe3 100%);*/          /* Opera 11.10+ */
            /*background: -ms-linear-gradient(-45deg,  #edf1f4 0%,#d8dfe3 100%); */      /* IE10+ */
            /*background: linear-gradient(135deg,  #edf1f4 0%,#d8dfe3 100%);*/        /* W3C */
            /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf1f4', endColorstr='#d8dfe3',GradientType=1 );*/        /* IE6-9 fallback on horizontal gradient */
            /* min-height: 500px*/

        input { outline: 0; border: 0; background-color: #F1F1F1; color: #0B5EAA; padding-left: 5px !important; height:35px} /*width: 100%*/
        textarea { outline: 0; border: 0; background-color: #F1F1F1; color: #0B5EAA; width: 100%; height: 110px} 
        label {width: 100%}
        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, 
        .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, 
        .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, 
        .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
        .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
        .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left: 0px; padding-right:0px; }
        .imagen_ajustable {width: 100%; padding: 0px 10px 10px 10px}


/* H O J A  B L A N C A*/
        .hoja_blanca {background: #fff; padding: 5% 5% 5% 5%;
            -webkit-box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);
            -moz-box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);
            box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);
            }

        .HB_encabezado {width: 100%; height: 80px; border-bottom: 1px solid; padding: 40px 0 0 0}
        .HB_circulo {float: right; font-size: 3em; position: relative; top: -25px}
        .HB_subtitulo {width: 100%; height: 100px; border-bottom: 1px solid #D7DEE2; padding: 60px 0 0 0}

        .HB_contenido {margin-top: 50px;/* background-color: #F1F1F1*/}


/* S E C C I O N E S*/

        /* INDEX */
            .prueba_marco {padding: 5px}
            .interior {height:100% ; min-height: 50px; background-color: gray}

            .container-fluid {height: 100%}


            .contenedor_vertical {padding: 0px}
            .contenedor_unitario{width: 98% ; margin: 2px}
            .modulo_index {width: 100%}

            .noticia_index { width: 100%; position: absolute; background-color: #0B5EAA; color: #fff;
                 bottom: 20px; z-index: 10; padding-top: 5px; padding-bottom: 5px; color: #fff; text-align: left; 
                 padding: 0 0 0 10px; margin: 0 5% 0 5%}

            .noticia_index_contenido { width: 100%; position: absolute; background-color: #fff; color: #555;
                 bottom: 5px; z-index: 10; padding-top: 5px; padding-bottom: 5px; color: #fff; text-align: left; 
                 padding: 0 0 0 10px; margin: 0 5% 0 5%}

            .contenedor_noticias{ padding: 10px; z-index: 1; width: 98%;}
            .contenedor_noticias_fondo{background-color:#fff; opacity: 0.6; position: absolute; width: 100%; height: 132px; 
                -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
                -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);
                box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.3);}

            .scroll-area{height: 371px; position: relative; overflow: auto}

            #cien {width: 100%}
            .noticia{ height: 390px}


        /*DOCUMENTACION*/
            .pdf_documentacion {padding: 10px; border: 10px solid #fff; background-color: #f9f9f9}

        /* MESA DE AYUDA*/
            .pos_relative {position: relative;}
            .pos_absolute {position: absolute;}
            .fondo_negro {background-color: #111; opacity: 0.9; padding: 10px}
            .centrado_vertical {top: 20%;}

        /* PREGUNTAS FRECUENTES*/
            #preguntas_frecuentes {color: #231f20 !important ;text-decoration: none}
                #preguntas_frecuentes:hover {color: #0B5EAA !important; text-decoration: none}
                #preguntas_frecuentes:visited {color: red !important}

        /* LOGIN*/
            .fondo {width: 100%; height: 100%; background-image: url("../imagenes/gplaypattern_azul.png")}

            .marco_login {height: auto; border-top: 2px solid #1859a0; border-bottom: 2px solid #1859a0;
                -webkit-box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.5);
                box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.5); }

            #loguito_login {display: block; margin: 0 auto !important; padding: 30% 0 30%}

            #login_BE {height: 31px; padding-left: 5px}


        /* ACTUALIZACIONES*/
            #icon_descarga_actualizaciones {color: #0B5EAA; display: block ;font-size: 3em; padding: 5px 0 5px 0; text-align: center !important; margin: 0 auto}
            #icon_descarga_actualizaciones:hover {color: #0D477B; display: block ;font-size: 3em; padding: 5px 0 5px 0; text-align: center !important; margin: 0 auto}
            .cont_iconos_descarga {border-left: 1px solid #999 ; padding: 20px 0 20px 5%}
            #modulo {text-align: right; padding-right: 15px; } /*margin-top: 5%*/

        /* REQUERIMIENTOS */
            .col_caract {width: 30%}
            .col_cant {width: 20%}
            .col_obs {width: 40%}

        /* NORMATIVA */
        #link_sobre_blanco {color: #231f20; text-decoration: none;}
        #link_sobre_blanco:hover {color:#0B5EAA; text-decoration: none;}

        /*CAPACITACION INCRIPCION*/
        #tipo_trabajo_1, #tipo_trabajo_2 {height: 15px}

        /*MENSAJES*/

        .bandeja_entrada {height: 605px}

        .mostrar_mensaje {color: #67686B !important }
            .mostrar_mensaje:active {color: #fff !important }

        
        .asunto {font-size: 1.2em; font-family: 'klavika_mediummedium'; margin: 0px; color: #67686B}
        .apellido {margin: 0px; color: #67686B}
        .email {font-size: 0.7em; margin: 0px; color: #67686B}

        .mensaje_encabezado {background-color: #f5f5f5; text-align: right; padding: 5% 5% 5% 5%;
            -webkit-box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);
            -moz-box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);
            box-shadow: 0px 4px 10px 0px rgba(198,205,209,1)}

        .cuerpo_encabezado {background: #fff; padding: 5% 5% 5% 5%;
            -webkit-box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);
            -moz-box-shadow: 0px 4px 10px 0px rgba(198,205,209,1);
            box-shadow: 0px 4px 10px 0px rgba(198,205,209,1); 
            min-height: 250px}

        /*CAROUSEL*/
        .carousel-indicators {bottom: 0px !important}

/* F O O T E R  G R A L*/
        footer{padding: 20px}/*position: absolute; bottom: 0; width: 100%*/
            footer p{font-size: 0.7em; margin: 0; line-height:1}
            .titulo_footer{font-size: 0.8em; text-align: center; margin: 0; padding-top: 30px}

        /* f o o t e r   r a f a m*/
                .footer_rafam p{font-size: 0.8em; text-align: left; margin: 0; color: #fff;}
                .footer_rafam .glyphicon {padding-right: 5px}
                 /*.texto_footer {padding: 0 0 0 20px}*/

        /* f o o t e r   p r o v*/
            #logo_BA_footer {text-align: right;}

            .boton {text-decoration: none; height: 34px;color: #fff; background-color: #0b5eaa; border-color: #095192; display: inline-block;
                    margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; border: 1px solid transparent;
                    padding: 11px 12px;font-size: 14px;}
            .boton:hover {text-decoration: none; background-color: #08447a} 

/* C O L O R E S */
        .azul_rafam{color: #0B5EAA}
        .naranja{color: #F5802D}
        .rojo{color: red}
        .gris_BA{color: #67686B;}
        .negro_BA{color: #231f20;}
        .blanco{color:#fff;}

        /* colores de fondo*/
        .azul_rafam_BG{background-color: #0B5EAA}
        .naranja_BG{background-color: #F5802D}
        .gris_BA_BG{background-color: #67686B;}
        .negro_BA_BG{background-color: #231f20;}

        .azul_HOVER_rafam_BG{background-color: #0D477B}

        .badge{position: relative; top: -4px; background-color: #0B5EAA}



/* O T R O S */
        .clear{clear:both;}

        .porta_captcha{ background-color: #555; margin: 0 0 10px 0}
        #captcha {margin-top: 8px}
        .close {float: right;}
        .centrado {text-align: center;}

        .panel-default {border: none; border-radius: 0px !important; background-color: #fff !important; margin-bottom: 0px}
        .panel-heading {border: none; border-bottom: 1px solid #67686b; border-radius: 0px !important; background-color: #fff !important}

        .glyphicon {display: inline-block}

        .separar_top5 {padding: 5% 0 0 0}
        .separar_top20 {padding: 20% 0 0 0}
        .fondo_mensaje {background-color: red}

        .form-control {padding: 0px; background-color: #F1F1F1; border: 0px; height: 35px; margin-bottom: 6px}
        /*.form-control {padding: 0px; background-color: #F1F1F1; border: 0px; height: 24px}*/
        .radio {margin-top: 0px; margin-bottom: 6px}

        #lapiz_editar:hover {color:#0B5EAA !important}


/*B A C K E N D*/
/*#iconos_menu_administracion {font-size: 2em} */

/*    R  E  S  P  O N  S  I  V  E    */




/* Medium devices (desktops, 970px and up) */
@media (max-width: 1199px) {
        #noticia{ height: 325px}
}

@media (max-width: 1199px) {
        #mensajes{ height: 300px}
}

/* Medium devices (desktops, 970px and up) */
@media (max-width: 992px) {
        header h2{ font-size: 1em !important; padding-top: 14px}
        /*header img {width: 7em; padding-top: 0px}*/
        .footer_prov img {width: 100%}
        .titulo_footer{padding-top: 15px}
}

/* Extra small devices (phones, less than 768px) */
    /*aca es donde colapsa el menu*/
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 480px and up) */
@media (max-width: 480px) {
    body{font-size: 14px}
    header {display: none; height: 0em}
    /*h3 {font-size: 0.8em !important}*/
    .titulo_footer{padding-top: 0px}
    #loguito_rafam_menu {display: inherit;}
    #icono_home {display: none;}
/*    .mobile-menu{padding:14px 0px 0px}*/
}







/* M E N U  D O C U M E N T A C I O N   J Q U E R Y    
    sacado de http://tympanus.net/codrops/2011/10/24/creative-css3-animation-menus/*/}

/*.ca-menu{
    padding: 0;
    margin: 20px auto;
    width: 500px;
}*/

    /* EXAMPLE 5 */

/*.ca-menu li:hover{
    background:#fff;
}
.ca-menu li:hover .ca-icon{
    color: #afa379;
    font-size: 90px;
    opacity: 0.1;
    animation: moveFromLeft 400ms ease;
}
.ca-menu li:hover .ca-main{
    color: #afa379;
    animation: moveFromRight 300ms ease;
}
.ca-menu li:hover .ca-sub{
    color: #000;
    animation: moveFromBottom 500ms ease;
}


@keyframes moveFromLeft{
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}*/



@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ca-menu{
    padding:0;
    margin:0px 2px 2px 2px;
}

.ca-menu li{
    height: auto;
    overflow: hidden;
    position: relative;
    float:center;
    background: #f9f9f9; /* Old browsers */
            background: -moz-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
            background: linear-gradient(left, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 */
            -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
            -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
            box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-right: 4px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-menu li:last-child{
    margin-right: 0px;
}
.ca-menu li a{
    text-decoration: none;/*    text-align: center !important;*/
/*    height: 30%;*/
/*    display: block;*/
/*    color: #333;*/
/*    position: relative;*/
}
.ca-icon{
/*    font-family: 'klavika_lightplain';*/
/*    font-size: 2em;*/
/*    color: #ddd;*/
    text-shadow: 1px 0px 1px rgba(255,255,255,0.8);
    line-height: 20px;
    padding-top: 15%;
  /*  position: absolute;*/
    width: 30%;
/*    height: 20%;*/
/*    left: 0px;*/
/*    top: 0px;*/
    text-align: center !important;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-content{
    text-align: center;
/*    position: absolute;*/
/*    left: 0px;*/
   /* width: 100%;*/
/*    height: 50%;
    top: 50%;*/
}
.ca-main{
    font-size: 1.2em;
    padding: 25px 0 25px 0;
    text-align: center !important;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    color: #0B5EAA; 
}
.ca-sub{
    text-align:center;
    font-size: 14px;
    color: #afa379;
    text-shadow: 1px 1px 1px #fff;
/*    line-height: 40px;*/
    opacity: 0.8;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.ca-menu li:hover{
    background:#0B5EAA;
    text-align: center !important;
}
.ca-menu li:hover .ca-icon{
    color: #fff;
    font-size: 90px;
    opacity: 0.8;
    text-align: center !important;
    -webkit-animation: moveFromLeft 400ms ease;
    -moz-animation: moveFromLeft 400ms ease;
    -ms-animation: moveFromLeft 400ms ease;
}
.ca-menu li:hover .ca-main{
    color: #fff;
    text-align: center !important;
    -webkit-animation: moveFromRight 300ms ease;
    -moz-animation: moveFromRight 300ms ease;
    -ms-animation: moveFromRight 300ms ease;
}
.ca-menu li:hover .ca-sub{
    color: #000;
    text-align: center !important;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}
@-webkit-keyframes moveFromLeft{
    from {
        -webkit-transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0%);
    }
}
@-moz-keyframes moveFromLeft{
    from {
        -moz-transform: translateX(-100%);
    }
    to {
        -moz-transform: translateX(0%);
    }
}
@-ms-keyframes moveFromLeft{
    from {
        -ms-transform: translateX(-100%);
    }
    to {
        -ms-transform: translateX(0%);
    }
}

@-webkit-keyframes moveFromRight {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0%);
    }
}
@-moz-keyframes moveFromRight {
    from {
        -moz-transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(0%);
    }
}
@-ms-keyframes moveFromRight {
    from {
        -ms-transform: translateX(100%);
    }
    to {
        -ms-transform: translateX(0%);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}