/* F U E N T E S */

@font-face {
    font-family: 'klavika_lightplain';
    src: url('../fuentes/klavika/klavikalight-plain-webfont.eot');
    src: url('../fuentes/klavika/klavikalight-plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/klavika/klavikalight-plain-webfont.woff') format('woff'),
         url('../fuentes/fuentes/klavika/klavikalight-plain-webfont.ttf') format('truetype'),
         url('../fuentes/fuentes/klavika/klavikalight-plain-webfont.svg#klavika_lightplain') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'klavika_boldbold';
    src: url('../fuentes/klavika/klavikaboldbold-webfont.eot');
    src: url('../fuentes/klavika/klavikaboldbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/klavika/klavikaboldbold-webfont.woff') format('woff'),
         url('../fuentes/klavika/klavikaboldbold-webfont.ttf') format('truetype'),
         url('../fuentes/klavika/klavikaboldbold-webfont.svg#klavika_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klavika_boldbold_italic';
    src: url('../fuentes/klavika/klavikaboldbolditalic-webfont.eot');
    src: url('../fuentes/klavika/klavikaboldbolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/klavika/../fuentes/klavika/klavikaboldbolditalic-webfont.woff') format('woff'),
         url('../fuentes/klavika/klavikaboldbolditalic-webfont.ttf') format('truetype'),
         url('../fuentes/klavika/klavikaboldbolditalic-webfont.svg#klavika_boldbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klavika_lightitalic';
    src: url('../fuentes/klavika/klavikalight-italic-webfont.eot');
    src: url('../fuentes/klavika/klavikalight-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/klavika/klavikalight-italic-webfont.woff') format('woff'),
         url('../fuentes/klavika/klavikalight-italic-webfont.ttf') format('truetype'),
         url('../fuentes/klavika/klavikalight-italic-webfont.svg#klavika_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klavika_mediumitalic';
    src: url('../fuentes/klavika/klavikamedium-italic-webfont.eot');
    src: url('../fuentes/klavika/klavikamedium-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/klavika/klavikamedium-italic-webfont.woff') format('woff'),
         url('../fuentes/klavika/klavikamedium-italic-webfont.ttf') format('truetype'),
         url('../fuentes/klavika/klavikamedium-italic-webfont.svg#klavika_mediumitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klavika_mediummedium';
    src: url('../fuentes/klavika/klavikamedium-tf-webfont.eot');
    src: url('../fuentes/klavika/klavikamedium-tf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/klavika/klavikamedium-tf-webfont.woff') format('woff'),
         url('../fuentes/klavika/klavikamedium-tf-webfont.ttf') format('truetype'),
         url('../fuentes/klavika/klavikamedium-tf-webfont.svg#klavika_mediummedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klavika_regularregular';
    src: url('../fuentes/klavika/klavikaregular-tf-webfont.eot');
    src: url('../fuentes/klavika/klavikaregular-tf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/klavika/klavikaregular-tf-webfont.woff') format('woff'),
         url('../fuentes/klavika/klavikaregular-tf-webfont.ttf') format('truetype'),
         url('../fuentes/klavika/klavikaregular-tf-webfont.svg#klavika_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}