SELECT, INPUT[type="text"] {
			    width: 200px;
			    box-sizing: border-box;
			}
			SECTION {
			    padding: 8px;
			    overflow: auto;
			    min-height: 0% !important;
			}
			SECTION > DIV {
			    float: left;
			    padding: 4px;
			}
			SECTION > DIV + DIV {
			    width: 40px;
			    text-align: center;
			}